CONFIG_ARCH="p2"
CONFIG_ARCH_P2=y
CONFIG_ARCH_CHIP="p2x8c4m64p"
CONFIG_ARCH_CHIP_P2X8C4M64P=y
CONFIG_ARCH_BOARD="p2-ec32mb"
CONFIG_ARCH_BOARD_P2_EC32MB=y
CONFIG_ARCH_TOOLCHAIN_CLANG=y
CONFIG_BOARDCTL=y
CONFIG_BOARD_LATE_INITIALIZE=y
CONFIG_BUILD_FLAT=y
CONFIG_BUILTIN=y
CONFIG_DEBUG_FEATURES=y
CONFIG_DEV_CONSOLE=y
CONFIG_DISABLE_MQUEUE=y
CONFIG_DISABLE_POSIX_TIMERS=y
CONFIG_INIT_ENTRYPOINT="nsh_main"
CONFIG_INTELHEX_BINARY=n
CONFIG_LIBC_ARCH_ATOMIC=y
CONFIG_LIBM_NONE=y
CONFIG_NFILE_DESCRIPTORS=8
CONFIG_NSH_ARCHINIT=n
CONFIG_NSH_BUILTIN_APPS=y
CONFIG_NSH_FILEIOSIZE=512
CONFIG_NSH_READLINE=y
CONFIG_PREALLOC_TIMERS=2
CONFIG_RAM_SIZE=524288
CONFIG_RAW_BINARY=y
CONFIG_P2_BOOT_TRACE=y
CONFIG_P2_SMARTPIN=y
CONFIG_P2_EC32MB_PSRAM=y
CONFIG_P2_EC32MB_PSRAM_COG_STACKSIZE=3072
CONFIG_P2_EC32MB_PSRAM_MAX_REQUEST=65536
CONFIG_P2_EC32MB_PSRAM_TIMEOUT_TICKS=500
CONFIG_P2_EC32MB_PSRAM_CANCEL_GRACE_TICKS=100
CONFIG_RR_INTERVAL=200
CONFIG_SCHED_HPWORK=n
CONFIG_START_DAY=1
CONFIG_START_MONTH=1
CONFIG_START_YEAR=2026
CONFIG_SYSTEM_NSH=y
CONFIG_TESTING_P2PSRAM=y
CONFIG_TESTING_P2PSRAM_STACKSIZE=4096
CONFIG_TESTING_P2PSRAM_WORKER_STACKSIZE=2048
CONFIG_TESTING_P2PSRAM_RANDOM_COUNT=1024
CONFIG_UART0_BAUD=230400
CONFIG_UART0_SERIAL_CONSOLE=y
CONFIG_USEC_PER_TICK=10000
