CONFIG_ARCH="p2"
CONFIG_ARCH_P2=y
CONFIG_ARCH_CHIP="p2x8c4m64p"
CONFIG_ARCH_CHIP_P2X8C4M64P=y
CONFIG_ARCH_BOARD="p2-ec32mb"
CONFIG_ARCH_BOARD_P2_EC32MB=y
CONFIG_ARCH_TOOLCHAIN_CLANG=y
# CONFIG_ARCH_LEDS is not set
CONFIG_BOARDCTL=y
CONFIG_BOARD_LATE_INITIALIZE=y
CONFIG_BUILD_FLAT=y
CONFIG_BUILTIN=y
CONFIG_DEBUG_FEATURES=y
CONFIG_DEFAULT_TASK_STACKSIZE=2048
CONFIG_DEV_CONSOLE=y
CONFIG_DISABLE_MQUEUE=y
CONFIG_DISABLE_POSIX_TIMERS=y
CONFIG_ENABLE_ALL_SIGNALS=y
CONFIG_ETC_ROMFS=y
CONFIG_FS_ROMFS=y
CONFIG_INIT_ENTRYPOINT="nsh_main"
CONFIG_INIT_STACKSIZE=4096
CONFIG_INTELHEX_BINARY=n
CONFIG_LIBC_ARCH_ATOMIC=y
CONFIG_LIBM_NONE=y
CONFIG_NFILE_DESCRIPTORS=10
CONFIG_NFILE_DESCRIPTORS_PER_BLOCK=8
CONFIG_NSH_ARCHINIT=n
CONFIG_NSH_BUILTIN_APPS=y
# CONFIG_NSH_DISABLE_FREE is not set
# CONFIG_NSH_DISABLE_PS is not set
CONFIG_NSH_FILEIOSIZE=512
CONFIG_NSH_READLINE=y
CONFIG_P2_BOOT_TRACE=y
CONFIG_PREALLOC_TIMERS=4
CONFIG_RAM_SIZE=524288
CONFIG_RAW_BINARY=y
CONFIG_RR_INTERVAL=200
CONFIG_SCHED_HPWORK=y
CONFIG_SCHED_HPWORKPRIORITY=224
CONFIG_SCHED_HPWORKSTACKSIZE=2048
CONFIG_SCHED_WAITPID=y
CONFIG_START_DAY=1
CONFIG_START_MONTH=1
CONFIG_START_YEAR=2026
CONFIG_SYSTEM_NSH=y
# CONFIG_SYSTEM_DD is not set
CONFIG_UART0_BAUD=230400
CONFIG_UART0_SERIAL_CONSOLE=y

CONFIG_P2_SMARTPIN=y
CONFIG_SPI=y
CONFIG_SPI_BITBANG=y
CONFIG_SPI_BITBANG_VARWIDTH=y
CONFIG_SPI_CMDDATA=y
CONFIG_SPI_DRIVER=y
CONFIG_SPI_EXCHANGE=y
CONFIG_P2_EC32MB_SPI=y
CONFIG_P2_EC32MB_SPI_MOSI_PIN=6
CONFIG_P2_EC32MB_SPI_MISO_PIN=7
CONFIG_P2_EC32MB_SPI_SCK_PIN=8
CONFIG_P2_EC32MB_SPI_CS_PIN=11
CONFIG_P2_EC32MB_SPI_MAX_FREQUENCY=2000000

CONFIG_LCD=y
CONFIG_LCD_DEV=y
CONFIG_LCD_FRAMEBUFFER=y
CONFIG_LCD_ILI9341=y
CONFIG_LCD_ILI9341_BGR=y
CONFIG_LCD_ILI9341_IFACE0=y
CONFIG_LCD_ILI9341_IFACE0_WIDTH=240
CONFIG_LCD_ILI9341_IFACE0_HEIGHT=320
CONFIG_LCD_ILI9341_IFACE0_PORTRAIT=y
CONFIG_LCD_ILI9341_IFACE0_RGB565=y
CONFIG_LCD_ILI9341_NINTERFACES=1
CONFIG_LCD_MAXPOWER=1
CONFIG_DRIVERS_VIDEO=y
CONFIG_VIDEO_FB=y

CONFIG_INPUT=y
CONFIG_INPUT_ADS7843E=y
CONFIG_ADS7843E_DEVMINOR=0
CONFIG_ADS7843E_FREQUENCY=500000
CONFIG_ADS7843E_SPIDEV=0
CONFIG_ADS7843E_SPIMODE=0
CONFIG_ADS7843E_THRESHX=0
CONFIG_ADS7843E_THRESHY=0

CONFIG_P2_EC32MB_ILI9341_XPT2046=y
CONFIG_P2_EC32MB_ILI9341_RESET_PIN=9
CONFIG_P2_EC32MB_ILI9341_DC_PIN=10
CONFIG_P2_EC32MB_ILI9341_FREQUENCY=2000000
CONFIG_P2_EC32MB_XPT2046_CS_PIN=12
CONFIG_P2_EC32MB_XPT2046_PEN_PIN=14
CONFIG_P2_EC32MB_TOUCHPEN_GPIO_ONLY=y
CONFIG_P2_EC32MB_TOUCHPEN_FLOAT_INPUT=y

CONFIG_EXAMPLES_P2TOUCHCAL=y
CONFIG_EXAMPLES_P2TOUCHCAL_PRIORITY=100
CONFIG_EXAMPLES_P2TOUCHCAL_STACKSIZE=4096
CONFIG_EXAMPLES_P2TOUCHCAL_FB_DEVPATH="/dev/fb0"
CONFIG_EXAMPLES_P2TOUCHCAL_INPUT_DEVPATH="/dev/input0"
CONFIG_P2_EC32MB_TOUCHPEN_AUTOSTART=y
