CONFIG_ARCH="p2"
CONFIG_ARCH_P2=y
CONFIG_ARCH_CHIP="p2x8c4m64p"
CONFIG_ARCH_CHIP_P2X8C4M64P=y
CONFIG_ARCH_BOARD="p2-ec"
CONFIG_ARCH_BOARD_P2_EC=y
CONFIG_ARCH_TOOLCHAIN_CLANG=y
# CONFIG_ARCH_LEDS is not set
CONFIG_BOARDCTL=y
CONFIG_BOARDCTL_RESET=y
CONFIG_BOARD_LATE_INITIALIZE=y
CONFIG_BCH=y
CONFIG_BUILD_FLAT=y
CONFIG_BUILTIN=y
CONFIG_DEBUG_FEATURES=y
CONFIG_DEFAULT_TASK_STACKSIZE=2048
CONFIG_DEV_CONSOLE=y
CONFIG_DISABLE_MQUEUE=y
CONFIG_DISABLE_POSIX_TIMERS=y
CONFIG_ENABLE_ALL_SIGNALS=y
CONFIG_ETC_ROMFS=y
CONFIG_FS_PROCFS=y
CONFIG_FS_ROMFS=y
CONFIG_INIT_ENTRYPOINT="nsh_main"
CONFIG_INIT_STACKSIZE=4096
CONFIG_INTELHEX_BINARY=n
CONFIG_LIBC_ARCH_ATOMIC=y
CONFIG_LIBM_NONE=y
CONFIG_LINE_MAX=128
CONFIG_NFILE_DESCRIPTORS_PER_BLOCK=8
CONFIG_NSH_ARCHINIT=n
CONFIG_NSH_BUILTIN_APPS=y
CONFIG_NSH_CMDOPT_HEXDUMP=y
# CONFIG_NSH_DISABLE_FREE is not set
# CONFIG_NSH_DISABLE_HEXDUMP is not set
# CONFIG_NSH_DISABLE_KILL is not set
# CONFIG_NSH_DISABLE_MOUNT is not set
# CONFIG_NSH_DISABLE_PS is not set
# CONFIG_NSH_DISABLE_UMOUNT is not set
CONFIG_NSH_FILEIOSIZE=512
CONFIG_NSH_READLINE=y
CONFIG_P2_BOOT_TRACE=y
CONFIG_RAM_SIZE=524288
CONFIG_RAW_BINARY=y
CONFIG_READLINE_CMD_HISTORY=y
CONFIG_READLINE_CMD_HISTORY_LEN=8
CONFIG_READLINE_CMD_HISTORY_LINELEN=64
CONFIG_READLINE_TABCOMPLETION=y
CONFIG_RR_INTERVAL=200
CONFIG_SCHED_HPWORK=n
CONFIG_SCHED_WAITPID=y
CONFIG_SERIAL_TERMIOS=y
CONFIG_SIG_DEFAULT=y
CONFIG_START_DAY=1
CONFIG_START_MONTH=1
CONFIG_START_YEAR=2026
CONFIG_SYSTEM_NSH=y
CONFIG_TTY_SIGINT=y
CONFIG_TTY_SIGINT_CHAR=0x03
CONFIG_UART0_BAUD=230400
CONFIG_UART0_SERIAL_CONSOLE=y

CONFIG_USERLED=y
CONFIG_USERLED_LOWER=y
CONFIG_EXAMPLES_LEDS=y
CONFIG_EXAMPLES_LEDS_LEDSET=0x03

CONFIG_ANALOG=y
CONFIG_SPI=y
CONFIG_SPI_EXCHANGE=y
CONFIG_SPI_BITBANG=y
CONFIG_SPI_DRIVER=y
CONFIG_P2_SMARTPIN=y
CONFIG_DEV_GPIO=y
CONFIG_DEV_GPIO_NSIGNALS=1
CONFIG_P2_EC32MB_GPIO=y
CONFIG_P2_EC32MB_GPIO_OUT_PIN=0
CONFIG_P2_EC32MB_GPIO_IN_PIN=1
CONFIG_P2_EC32MB_UART1=y
CONFIG_P2_EC32MB_UART1_TX_PIN=2
CONFIG_P2_EC32MB_UART1_RX_PIN=3
CONFIG_P2_EC32MB_UART1_BAUD=115200
CONFIG_P2_EC32MB_PWM=y
CONFIG_P2_EC32MB_PWM_PIN=4
CONFIG_PWM_NCHANNELS=1
CONFIG_P2_EC32MB_CAPTURE=y
CONFIG_P2_EC32MB_CAPTURE_PIN=5
CONFIG_P2_EC32MB_ADC=y
CONFIG_P2_EC32MB_ADC_PIN=5
CONFIG_P2_EC32MB_ADC_SAMPLE_EXPONENT=10
CONFIG_P2_EC32MB_DAC=y
CONFIG_P2_EC32MB_DAC_PIN=4
CONFIG_P2_EC32MB_SPI=y
CONFIG_P2_EC32MB_SPI_MOSI_PIN=6
CONFIG_P2_EC32MB_SPI_MISO_PIN=7
CONFIG_P2_EC32MB_SPI_SCK_PIN=8
CONFIG_P2_EC32MB_SPI_CS_PIN=9
CONFIG_P2_EC32MB_SPI_MAX_FREQUENCY=100000
CONFIG_P2_EC32MB_I2C=y
CONFIG_P2_EC32MB_I2C_SDA_PIN=24
CONFIG_P2_EC32MB_I2C_SCL_PIN=25
CONFIG_I2C_BITBANG_CLOCK_STRETCHING=y
CONFIG_I2C_BITBANG_GPIO_OVERHEAD=0
CONFIG_I2C_BITBANG_TIMEOUT=1000
CONFIG_P2_EC32MB_BMP180=y
CONFIG_SENSORS=y
CONFIG_SENSORS_BMP180=y
# CONFIG_SENSORS_BMP180_UORB is not set
CONFIG_SENSORS_USE_B16=y

CONFIG_P2_STORAGE=y
CONFIG_P2_EC32MB_STORAGE_BINDINGS=y
CONFIG_P2_EC32MB_W25_PROBE_FREQUENCY=400000
CONFIG_P2_EC32MB_FLASHBOOT=y
CONFIG_P2_STORAGE_LOCK_TIMEOUT_TICKS=500
CONFIG_P2_STORAGE_MAX_FREQUENCY=2000000
CONFIG_MTD=y
CONFIG_MTD_PARTITION=y
CONFIG_MTD_SMART=y
CONFIG_MTD_SMART_MINIMIZE_RAM=y
CONFIG_MTD_SMART_SECTOR_CACHE_SIZE=2048
CONFIG_MTD_SMART_SECTOR_PACK_COUNTS=y
CONFIG_MTD_W25=y
CONFIG_W25_SPIFREQUENCY=2000000
CONFIG_W25_SPIMODE=3
CONFIG_MMCSD=y
CONFIG_MMCSD_SPI=y
# CONFIG_MMCSD_HAVE_CARDDETECT is not set
# CONFIG_MMCSD_HAVE_WRITEPROTECT is not set
# CONFIG_MMCSD_READONLY is not set
CONFIG_MMCSD_IDMODE_CLOCK=400000
CONFIG_MMCSD_SPICLOCK=2000000
CONFIG_MMCSD_SPIMODE=0
CONFIG_FS_SMARTFS=y
CONFIG_FS_FAT=y
# CONFIG_FSUTILS_MKFATFS is not set
# CONFIG_FSUTILS_MKSMARTFS is not set

CONFIG_EXAMPLES_GPIO=y
CONFIG_EXAMPLES_PWM=y
CONFIG_EXAMPLES_PWM_FREQUENCY=1000
CONFIG_EXAMPLES_PWM_DURATION=5
CONFIG_EXAMPLES_PWM_DUTYPCT1=50
CONFIG_EXAMPLES_CAPTURE=y
CONFIG_EXAMPLES_CAPTURE_DEVPATH="/dev/cap0"
CONFIG_EXAMPLES_CAPTURE_NSAMPLES=8
CONFIG_EXAMPLES_ADC=y
CONFIG_EXAMPLES_ADC_DEVPATH="/dev/adc0"
CONFIG_EXAMPLES_ADC_NSAMPLES=8
CONFIG_EXAMPLES_ADC_GROUPSIZE=1
CONFIG_EXAMPLES_ADC_SWTRIG=y
CONFIG_EXAMPLES_DAC=y
CONFIG_EXAMPLES_DAC_DEVPATH="/dev/dac0"
CONFIG_SYSTEM_I2CTOOL=y
CONFIG_I2CTOOL_MAXBUS=0
CONFIG_I2CTOOL_DEFFREQ=100000
CONFIG_SYSTEM_SPITOOL=y
CONFIG_SPITOOL_MAXBUS=0
CONFIG_SPITOOL_DEFFREQ=100000
CONFIG_SPITOOL_DEFMODE=0
CONFIG_SPITOOL_DEFWORDS=16
# CONFIG_SYSTEM_DD is not set
CONFIG_SYSTEM_P2HELP=y

CONFIG_TESTING_P2SMARTPINS=y
CONFIG_TESTING_P2SMARTPINS_EDGE=y
CONFIG_TESTING_P2SMARTPINS_UART=y
CONFIG_TESTING_P2SMARTPINS_PWM_CAPTURE=y
CONFIG_TESTING_P2SMARTPINS_DAC_ADC=y
CONFIG_TESTING_P2SMARTPINS_DAC_FULL_SCALE=65535
CONFIG_TESTING_P2SMARTPINS_SPI=y
CONFIG_TESTING_P2I2C=y
CONFIG_TESTING_P2STORAGE=y
# CONFIG_TESTING_P2STORAGE_DESTRUCTIVE is not set
CONFIG_TESTING_P2STORAGE_FLASH_PREMOUNTED=y
CONFIG_TESTING_P2STORAGE_FLASH_DEVPATH="/dev/smart0"
CONFIG_TESTING_P2STORAGE_FLASH_MOUNTPOINT="/mnt/flash"
CONFIG_TESTING_P2STORAGE_SD_DEVPATH="/dev/mmcsd0"
CONFIG_TESTING_P2STORAGE_SD_MOUNTPOINT="/mnt/sd"
CONFIG_TESTING_P2STORAGE_RECORD_SIZE=256
CONFIG_TESTING_P2STORAGE_STREAM_SIZE=1048576
