CONFIG_ALLOW_BSD_COMPONENTS=y
CONFIG_ARCH="p2"
CONFIG_ARCH_P2=y
CONFIG_ARCH_CHIP="p2x8c4m64p"
CONFIG_ARCH_CHIP_P2X8C4M64P=y
CONFIG_ARCH_BOARD="p2-ec32mb"
CONFIG_ARCH_BOARD_P2_EC32MB=y
CONFIG_ARCH_TOOLCHAIN_CLANG=y
CONFIG_BOARDCTL=y
CONFIG_BOARDCTL_ROMDISK=y
CONFIG_BOARD_LATE_INITIALIZE=y
CONFIG_BUILD_FLAT=y
CONFIG_BUILTIN=y
CONFIG_CRYPTO=y
CONFIG_DEBUG_FEATURES=y
CONFIG_DEFAULT_SMALL=y
CONFIG_DEV_CONSOLE=y
CONFIG_DEV_RANDOM=y
CONFIG_DEV_URANDOM=y
CONFIG_DEV_URANDOM_ARCH=y
# CONFIG_DISABLE_ENVIRON is not set
CONFIG_DISABLE_MQUEUE=y
# CONFIG_DISABLE_PTHREAD is not set
CONFIG_DISABLE_POSIX_TIMERS=y
CONFIG_ENABLE_ALL_SIGNALS=y
CONFIG_EVENT_FD=y
CONFIG_EXPERIMENTAL=y
CONFIG_FILE_STREAM=y
CONFIG_FS_HEAPSIZE=1048576
CONFIG_FS_HEAP_USER_BUFFER=y
CONFIG_FS_ROMFS=y
CONFIG_FS_TMPFS=y
CONFIG_INIT_ENTRYPOINT="nsh_main"
CONFIG_INTELHEX_BINARY=n
CONFIG_INTERPRETERS_CPYTHON=y
CONFIG_INTERPRETERS_CPYTHON_EXTERNAL_ROMFS=y
CONFIG_INTERPRETERS_CPYTHON_ROMFS_SECTORSIZE=512
CONFIG_INTERPRETERS_CPYTHON_STACKSIZE=24576
# CONFIG_INTERPRETERS_CPYTHON_ENABLE_PIP is not set
# CONFIG_INTERPRETERS_CPYTHON_INSTALL_NUTTX_PACKAGE is not set
CONFIG_LIBC_ARCH_ATOMIC=y
CONFIG_LIBC_EXECFUNCS=y
CONFIG_LIBC_LOCALE=y
CONFIG_LIBC_LOCALE_GETTEXT=y
CONFIG_LIBC_PERROR_STDOUT=y
CONFIG_LIBC_STRERROR=y
CONFIG_LIBC_TEMPBUFFER=y
CONFIG_LIBM_NEWLIB=y
CONFIG_LIB_ZLIB=y
CONFIG_LINE_MAX=256
CONFIG_MM_KERNEL_HEAP=y
CONFIG_MM_KERNEL_HEAPSIZE=65536
CONFIG_MM_REGIONS=2
CONFIG_NAME_MAX=64
CONFIG_NFILE_DESCRIPTORS_PER_BLOCK=8
CONFIG_NSH_ARCHINIT=n
CONFIG_NSH_BUILTIN_APPS=y
# CONFIG_NSH_DISABLEBG is not set
# CONFIG_NSH_DISABLE_ECHO is not set
# CONFIG_NSH_DISABLE_MKDIR is not set
# CONFIG_NSH_DISABLE_MOUNT is not set
CONFIG_NSH_FILEIOSIZE=512
CONFIG_NSH_READLINE=y
CONFIG_P2_BOOT_TRACE=y
CONFIG_P2_EC32MB_PSRAM_UNIFIED=y
CONFIG_P2_EC32MB_PSRAM_UNIFIED_RESERVE_SIZE=16777216
CONFIG_P2_HUB_OVERLAYS=y
CONFIG_P2_HUB_OVERLAY_GROUP_COUNT=512
CONFIG_P2_HUB_OVERLAY_LIBM=y
CONFIG_P2_HUB_OVERLAY_SLOT_SIZE=90112
CONFIG_P2_HUB_OVERLAY_ZLIB=y
CONFIG_P2_RNG_BLAKE2S=y
CONFIG_P2_SMARTPIN=y
CONFIG_PIPES=y
CONFIG_PREALLOC_TIMERS=2
# CONFIG_DISABLE_PSEUDOFS_OPERATIONS is not set
CONFIG_PSEUDOFS_SOFTLINKS=y
CONFIG_PTHREAD_MUTEX_TYPES=y
CONFIG_RAM_SIZE=524288
# CONFIG_RAW_BINARY is not set
CONFIG_RR_INTERVAL=200
CONFIG_SCHED_HAVE_PARENT=y
CONFIG_SCHED_HPWORK=n
CONFIG_IRQ_NWORKS=1
CONFIG_SCHED_WAITPID=y
CONFIG_SERIAL_TERMIOS=y
CONFIG_STACK_COLORATION=y
CONFIG_START_DAY=1
CONFIG_START_MONTH=1
CONFIG_START_YEAR=2026
# CONFIG_SYSTEM_DD is not set
CONFIG_SYSTEM_NSH=y
CONFIG_TIMER_FD=y
CONFIG_TLS_NELEM=16
CONFIG_TLS_TASK_NELEM=8
CONFIG_UART0_BAUD=230400
CONFIG_UART0_RXBUFSIZE=2048
CONFIG_UART0_SERIAL_CONSOLE=y
CONFIG_USEC_PER_TICK=10000
