CONFIG_ARCH="p2"
CONFIG_ARCH_P2=y
CONFIG_ARCH_CHIP="p2x8c4m64p"
CONFIG_ARCH_CHIP_P2X8C4M64P=y
CONFIG_ARCH_BOARD="p2-ec32mb"
CONFIG_ARCH_BOARD_P2_EC32MB=y
CONFIG_ARCH_TOOLCHAIN_CLANG=y
CONFIG_BUILD_FLAT=y
CONFIG_CANCELLATION_POINTS=y
CONFIG_DEBUG_FEATURES=y
CONFIG_DEBUG_FULLOPT=y
CONFIG_DEFAULT_TASK_STACKSIZE=4096
CONFIG_DEV_CONSOLE=y
CONFIG_DEV_NULL=y
CONFIG_DISABLE_MQUEUE_SYSV=y
CONFIG_ENABLE_ALL_SIGNALS=y
CONFIG_FS_NAMED_SEMAPHORES=y
CONFIG_HRTIMER=y
CONFIG_HRTIMER_LIST=y
CONFIG_IDLETHREAD_STACKSIZE=2048
CONFIG_INIT_ENTRYPOINT="ostest_main"
CONFIG_INTELHEX_BINARY=n
CONFIG_LIBC_ARCH_ATOMIC=y
CONFIG_LIBC_RAND_ORDER=0
CONFIG_LIBM_NONE=y
CONFIG_P2_BOOT_TRACE=y
CONFIG_PREALLOC_CHILDSTATUS=16
CONFIG_PREALLOC_MQ_MSGS=16
CONFIG_PREALLOC_TIMERS=8
CONFIG_PRIORITY_INHERITANCE=y
CONFIG_PTHREAD_MUTEX_BOTH=y
CONFIG_PTHREAD_MUTEX_DEFAULT_PRIO_INHERIT=y
CONFIG_PTHREAD_MUTEX_TYPES=y
CONFIG_PTHREAD_STACK_DEFAULT=4096
CONFIG_RAM_SIZE=524288
CONFIG_RAW_BINARY=y
CONFIG_RR_INTERVAL=200
CONFIG_SCHED_CHILD_STATUS=y
CONFIG_SCHED_EVENTS=y
CONFIG_SCHED_HAVE_PARENT=y
CONFIG_SCHED_LPWORK=y
CONFIG_SCHED_LPWORKSTACKSIZE=4096
CONFIG_SCHED_SPORADIC=y
CONFIG_SCHED_SPORADIC_MAXREPL=5
CONFIG_SCHED_WAITPID=y
CONFIG_SEM_PREALLOCHOLDERS=8
CONFIG_SIG_DEFAULT=y
CONFIG_SIG_EVTHREAD=y
CONFIG_STACK_COLORATION=y
CONFIG_STACK_USAGE=y
CONFIG_START_DAY=1
CONFIG_START_MONTH=1
CONFIG_START_YEAR=2026
CONFIG_TESTING_OSTEST=y
CONFIG_TESTING_OSTEST_LOOPS=1
CONFIG_TESTING_OSTEST_RR_RANGE=3000
CONFIG_TESTING_OSTEST_STACKSIZE=8192
CONFIG_TESTING_OSTEST_WAITRESULT=y
CONFIG_TLS_NCLEANUP=4
CONFIG_TLS_NELEM=4
CONFIG_UART0_BAUD=230400
CONFIG_UART0_SERIAL_CONSOLE=y
